Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.7
Werkzeug==0.9.6
argparse==1.2.1
gevent==1.0.1
greenlet==0.4.4
itsdangerous==0.24
psycogreen==1.0
psycopg2==2.5.4
uWSGI==2.0.7
wsgiref==0.1.2
